html, body {
    background-color: #fcfcfc;
}

.navbar-menu {
    background-color: #fcfcfc;
}

.linkSpanner{
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

.imgContainer {
    max-height: 256px;
    max-width: 256px;
}


.scaledImg {
    max-height: 100%;
    max-width: 100%;
}

.article-box {
    position: relative;
}

.project-box {
    position: relative;
}