html, body {
    background-color: #fcfcfc;
}

.navbar-menu {
    background-color: #fcfcfc;
}

.linkSpanner{
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

.project-box {
    position: relative;
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
}

.imgContainer {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.scaledImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.project-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-height: 200px;
}

.project-content > div:last-of-type {
    margin-top: auto;
    margin-bottom: 0.5rem;
}

.article-box {
    position: relative;
}